@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

html {
    background-color: #EEEEEE;
}

body {
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    padding: 0;
    margin: 0;
}

li {
    background-image: linear-gradient(#FFF, #d0cfcf);
    margin: 0.4rem;
    border-radius: 50%;
    /* box-shadow: 3px 8px 8px 0px #acacac; */
    box-shadow: 0px 7px 10px 1px #acacac;
}

a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #DFDFDF;
    background-image: linear-gradient(#d0cfcf, #FFF);
}

.fab {
    font-size: 18px;
    color: #262626;   
    transition: color 0.3s ease;
}

a:hover .fa-facebook-square {
    color: #3B5998;
}

a:hover .fa-twitter {
    color: #00ACED;
}

a:hover .fa-google-plus {
    color: #DD4B39;
}

a:hover .fa-linkedin {
    color: #007BB6;
}

a:hover .fa-instagram {
    color: #5782A6;
}