@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

html {
    background-color: #EEEEEE;
}

body {
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    padding: 0;
    margin: 0;
}

li {
    margin: 0.4rem;
    border-radius: 50%;
    box-shadow: 0px 7px 10px 1px #acacac;
    transition: box-shadow 0.1s ease-in;
}

a {
    color: #262626;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: #DFDFDF;
    background-image: linear-gradient(#FFF, #d0cfcf);
}

li.facebook:hover {
    box-shadow: 0px 3px 3px 0px #acacac;
}

li.twitter:hover {
    box-shadow: 0px 3px 3px 0px #acacac;
}

li.google-plus:hover {
    box-shadow: 0px 3px 3px 0px #acacac;
}

li.linkedin:hover {
    box-shadow: 0px 3px 3px 0px #acacac;
}

li.instagram:hover {
    box-shadow: 0px 3px 3px 0px #acacac;
}

li.facebook:hover a {
   color: #3B5998; 
}

li.twitter:hover a {
   color: #00ACED; 
}

li.google-plus:hover a {
   color: #DD4B39; 
}

li.linkedin:hover a {
   color: #007BB6; 
}

li.instagram:hover a {
   color: #5782A6; 
}

.fab {
    font-size: 18px;    
    padding: 0.5rem;
    border-radius: 50%;
    background-image: linear-gradient(#d0cfcf, #FFF);
    transition: color 0.3s ease;
}