<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects Manager</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if user}}
            <li><a href="/project/all">Projects</a></li>
            <li><a href="/team/all">Teams</a></li>

            {{#if isAdmin}}
            <li><a href="/project/create">Create Project</a></li>
            <li><a href="/team/create">Create Team</a></li>
            {{/if}}

            {{/if}}

            <div class="right">
                {{#if user}}
                <li>Welcome, {{user.username}}!</li>
                <li><a href="/user/profile">Profile</a></li>
                <li>
                    <form id="logout-form" action="/user/logout" method="post"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                {{else}}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
                {{/if}}
            </div>
        </ul>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        Express Exam @SoftUni
    </footer>
</body>

</html>