<h1>Create Team</h1>
<div class="form">
    <form method="POST" action="/team/create">
        <label>Team Name</label>
        <input name="name" type="text">

        <input type="submit" value="Create">
    </form>
</div>