<nav>
    <a class="active" href="#/home">Home</a>

    {{#if loggedIn}}
    <a href="#/items/create">Create Meme</a>
    <div id="profile">
        <a>Welcome {{username}}</a>
        <a href="#/user/profile/:{{myId}}">My Profile</a>
        <a href="#/user/logout">logout</a>
    </div>
    {{/if}}
</nav>