<h1>Create Project</h1>
<div class="form">
    <form method="POST" action="/project/create">
        <label>Project Name</label>
        <input name="name" type="text">

        <label>Project Description</label>
        <textarea name="description"></textarea>

        <input type="submit" value="Create">
    </form>
</div>