<h1>Login</h1>
<div class="form">
    <form method="POST" action="/user/login">
        <label for="name">Username:</label>
        <input name="username" type="text"><br>

        <label for="name">Password:</label>
        <input name="password" type="password"><br>

        <input type="submit" value="Login">
    </form>
</div>