<h1>Register</h1>
<div class="form">
    <form method="POST" action="/user/register">
        <label for="name">Username:</label>
        <input name="username" type="text"><br>

        <label for="name">Password:</label>
        <input name="password" type="password"><br>

        <label for="name">First name:</label>
        <input name="firstName" type="text"><br>

        <label for="name">Last name:</label>
        <input name="lastName" type="text"><br>

        <label for="name">Profile Picture:</label>
        <input name="profilePicture" type="text"><br>

        <input type="submit" value="Register">
    </form>
</div>