$white: #FFF;

// ----- Greens ----- \\
$green-25: #EFF9F8;
$green-50: #DFF4F1;
$green-100: #B0E3DC;
$green-200: #7CD1C5;
$green-300: #41BEAD;
$green-400: #00AF9B;
$green-500: #00A08A;
$green-600: #00927D;
$green-700: #00826C;
$green-800: #00725E;
$green-900: #005541;

// ----- Oranges ----- \\
$orange-50: #FFF8E1;
$orange-100: #FFECB3;
$orange-200: #FFE183;
$orange-300: #FFD650;
$orange-400: #FFCB29;
$orange-500: #FFC20A;
$orange-600: #FFB402;
$orange-700: #FFA101;
$orange-800: #FF9100;
$orange-900: #FF7100;

// ----- Greys ----- \\
$grey-50: #F8F8F8;
$grey-100: #F1F1F1;
$grey-200: #E6E6E6;
$grey-300: #D6D6D6;
$grey-400: #B2B2B2;
$grey-500: #919191;
$grey-600: #696969;
$grey-700: #565656;
$grey-800: #383838;
$grey-900: #181818;

// ----- Blues ----- \\
$blue-25: #F1F9FE;
$blue-50: #E3F3FD;
$blue-100: #BCE0FC;
$blue-200: #92CDFB;
$blue-300: #66B9F8;
$blue-400: #44A9F8;
$blue-500: #239CF7;
$blue-600: #1E8EE9;
$blue-700: #187BD6;
$blue-800: #136AC4;
$blue-900: #084CA5;

// ----- Reds ----- \\
$red-50: #FFEBEF;
$red-100: #FFCDD3;
$red-200: #F7999B;
$red-300: #F07073;
$red-400: #FC4C50;
$red-500: #FF3632;
$red-600: #F32B33;
$red-700: #E11E2D;
$red-800: #D41325;
$red-900: #C50018;