@media screen and (min-width: 650px) {
    .testimonials,
    .team {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .team ul li,
    .testimonials ul li {
        flex: 0 1 12vw;
        padding: 1.2rem 0;
        margin: 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .team ul li,
    .testimonials ul li {
        flex-basis: 35vw;
    }
}

@media screen and (max-width: 800px) {

    label[for="toggle-menu"] {
        flex: 0 0 6vw;
        align-self: center;
        cursor: pointer;
        order: 3;
    }

    .site-title-wrapper {
        order: 1;
    }

    .site-header nav {
        display: none;
        order: 2;
    }

    input#toggle-menu:checked + nav .fa-bars {
        display: none;
    }

    input#toggle-menu:checked + nav .fa-times {
        display: inline;
    }

    input#toggle-menu:checked + nav {
        display: block;
    }

    .need-website {
        padding: 3rem;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 16px;
    }

    label[for="toggle-menu"] {
        display: none;
    }

    ul.menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    ul.menu a {
        padding: 0.5rem;
    }

    .site-header {
        margin: 0.3rem 5rem;
    }

    .need-website {
        padding: 8rem;
    }
}

@media screen and (min-width: 1150px) {
    .site-header {
        margin: 0.3rem 7rem;
    }

    section {
        margin-left: 12rem;
        margin-right: 12rem;
    }

    .testimonials, .team {
        margin-left: 14rem;
        margin-right: 14rem;
    }
}