input#toggle-menu {
    display: none;
}

nav {
    flex: 1 1 auto;
}

ul.menu {
    display: flex;
    display: none;
}

.fa-times {
    display: none;
}

label[for="toggle-menu"] {
    flex: 1 0 60vw;
    cursor: pointer;
    /* align-self: flex-end; */
}

input#toggle-menu:checked + nav .fa-bars {
    display: none;
}

input#toggle-menu:checked + nav .fa-times {
    display: inline;
}

input#toggle-menu:checked + nav ul.menu {
    display: block;
}
