@import url('./typography.css');
@import url('./media-queries.css');

.site-logo {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(161, 155, 155);
}

.has-floated-children:after {
    content: '';
    clear: both;
    display: block;
}

img[class^="align"] {
    max-width: 50vw;
    height: auto;
    padding: 0.7em;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.336);
}
