@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

html {
    font: normal 16px/1.5 Helvetica, sans-serif;
}

body {
    margin: 0;
}

main {
    /* display: flex;
    flex-wrap: wrap; */
}

div.viewport {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}

section.card {
    position: relative;
    /* overflow: hidden; */
    /* text-align: center; */

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    /* flex: 1 1 1rem; */
    width: 30%;
    height: auto;
    border-radius: 7px;
}

.first {
    background: linear-gradient(90deg, rgb(26, 82, 185), rgb(60, 209, 127));
}

.second {
    background: linear-gradient(90deg, rgb(197, 39, 65), orange);
}

.fas {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: honeydew;
    transition: font-size 0.3s ease;
}

.fas:hover {
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(214, 207, 193)
}