@media screen and (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    html {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    img[class^="align"] {
        max-width: 50vw;
        margin-left: 0;
        float: none;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .align-right {
        float: right;
        margin: 1em 0em 1em 2em;
    }

    .align-left {
        float: left;
        margin: 1em 2em 1em 0;
    }

    img[class^="align"] {
        max-width: 35vw;
    }
}

@media screen and (min-width: 800px) {
    html {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    img[class^="align"] {
        max-width: 10vw;
    }
}

@media screen and (max-width: 1060px) {
    main {
        flex-basis: 100%;
    }
}
