@media screen and (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    html {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    img[class^="align"] {
        max-width: 50vw;
        margin-left: 0;
        float: none;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .align-right {
        float: right;
        margin: 1em 0em 1em 2em;
    }

    .align-left {
        float: left;
        margin: 1em 2em 1em 0;
    }

    img[class^="align"] {
        max-width: 35vw;
    }
}

@media screen and (max-width: 800px) {
    header h1,
    header nav {
        flex-basis: 100%;
    }
    
    label[for="menu"] {
        align-self: center;
    }
}

@media screen and (min-width: 800px) {
    html {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    img[class^="align"] {
        max-width: 10vw;
    }

    header {
        border-bottom: 1px solid rgb(61, 58, 58);
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        justify-content: flex-end;
        flex: 1 1 25rem;
    }

    ul {
        width: 10%;
    }

    ul ul {
        display: block;
        position: absolute;
        width: 20%;
    }

    ul li {
        flex: 0 1 auto;
    }

    .toggle-nav {
        display: none;
    }

    nav > ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 0 1 23rem;
        border: none;
    }

    nav > ul > li > ul {
        right: 9rem;
        top: 2.8rem;
    }

    /* .nest-level-3-1 {
        right: 5.2rem;
        top: 0.1rem;
    }

    .nest-level-3-2 {
        right: 5.2rem;
        top: 2.8rem;
    }

    .nest-level-3-3 {
        right: 5.2rem;
        top: 7rem;
    } */
}

@media screen and (max-width: 1060px) {
    main {
        flex-basis: 100%;
    }
}
