@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    color: rgb(243, 240, 233);
    justify-content: space-between;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul {
    padding: 0.3em;
    display: flex;
    list-style: none;
    white-space: nowrap;
}

nav > ul {
    flex: 1 1 20%;
    justify-content: flex-end;
    border-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}

nav ul,
nav ul ul  {
    display: none;
    flex-direction: column;
    transition: 0.2s ease opacity;
}

nav ul ul li:hover {
    background-color: rgb(104, 104, 104);
}

nav ul ul ul li:hover {
    background-color: rgb(133, 133, 133);
}

nav li:hover > ul {
    display: inherit;
}

nav li {
    flex: 0 1 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(61, 58, 58);
    transition: 0.3s ease background-color;
}

nav li:hover {
    cursor: pointer;
    background-color: #555555;
}

.toggle-nav-input {
    display: none;
}

.toggle-nav-input:checked + nav > ul,
.toggle-nav-input:checked + nav .fa-times {
    display: inherit;
}

.toggle-nav-input:checked + nav .fa-bars {
    display: none;
}

