@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    color: rgb(243, 240, 233);
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav ul {
    padding: 0.3em;
    width: 100%;
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
    list-style: none;
    margin: 0.2rem;
    white-space: nowrap;
}

nav ul li a {
    color: inherit;
}

nav ul li,
.toggle-nav {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(61, 58, 58);
    transition: 0.3s ease background-color;
}

.toggle-nav {
    flex: 0 1 1rem;
    align-self: flex-end;
    margin: 0.2rem 0;
}

ul li:hover,
.toggle-nav:hover {
    cursor: pointer;
    background-color: #555555;
}

ul ul li:hover {
    background-color: rgb(104, 104, 104);
}

ul ul ul li:hover {
    background-color: rgb(133, 133, 133);
}

.toggle-nav-input {
    display: none;
}

.toggle-nav > span {
    font-weight: bold;
}

.toggle-nav-input:checked + ul {
    display: inherit;
}

nav > ul {
    flex: 1 1 20%;
    justify-content: flex-end;
    background-color: white;
    border-radius: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul,
nav ul ul  {
    display: none;
    flex-direction: column;
    transition: 0.2s ease opacity;
}

nav ul ul {
    min-width: 5rem;
}

li:hover > ul {
    display: inherit;
}

main {
    margin: 1rem;
}

footer {
    margin-top: auto;
    align-self: center;
}

