<form method="POST" action="/user/login" class="text-center border border-light p-5">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" value="{{username}}" type="text" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" value="{{username}}" type="password" class="form-control" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>