@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

html {
    font: normal 12px/1.5 Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    padding: 2rem 1rem;
    border: 2px solid rgb(141, 135, 135);
    border-radius: 3px;
    background-color: rgb(247, 240, 238);
    width: 30vw;
    box-shadow: 1px 1px 20px 10px rgb(247, 240, 238);
}

legend {
    padding: 0.5rem 5rem 0.5rem 1rem;
    border: 2px solid rgb(141, 135, 135);
    border-radius: 3px;
    background-color: rgb(247, 240, 238);
}

label {
    font-weight: bold;
}

input {
    border: 1px solid rgb(153, 147, 147);
    border-radius: 3px;
}

input:not([type="submit"]) {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: rgb(247, 240, 238);
    background-color: rgb(51, 48, 48);
}

input:focus {
    outline: none;
    border-color: darkgreen;
}

input:focus + .fas {
    color: darkgreen;
}

.input-holder {
    position: relative;
}

.fas {
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }





}