{{#each contacts}}

<div class="contact card">
    <div>
        <i class="far fa-user-circle gravatar"></i>
    </div>
    <div class="info">

        {{>contactInfo}}

    </div>
</div>

{{/each}}