@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./nav.css");
@import url("./media-queries.css");

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.need-website {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}

.need-website p {
    padding: 2rem 0;
}




.team,
.testimonials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team ul,
.testimonials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team ul li,
.testimonials ul li {
    padding: 1.2rem 0;
}

.team li img,
.testimonials li img {
    border-radius: 50%;
    border: 2px solid black;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    box-shadow: 3px 6px 20px 0px #9f9898;
    margin-bottom: 1.2rem;
}

.team header div:first-of-type,
.testimonials footer div:first-of-type {
    font-weight: bold;
}

.team li p,
.testimonials li p {
    font-style: italic;
}

.team ul header div:nth-child(2),
.testimonials footer div:first-child {
    color: #333333;
}

.team ul p {
    color: #1A1A1A;
}

.team header {
    padding-bottom: 1rem;
}

.testimonials footer {
    padding-top: 1rem;
}

.testimonials p {
   color: #484848;
}

.testimonials footer div:nth-child(2) {
    color: #5C5C5C;
}

.testimonials h2 {
    color: #333333;
}


.news-subscribe {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #68347B;
    z-index: 1;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.news-subscribe:before {
    content: ' + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + +';
    color: #6D3980;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.news-subscribe h2 {
    color: white;
}

.news-subscribe div {
    height: 2rem;
}

.news-subscribe input {
    height: 100%;
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 2px solid #333333;
}

.news-subscribe .btn {
    background-color: white;
    height: 100%;
    vertical-align: bottom;
}




.site-footer {
    display: flex;
    margin: 2.2rem 0;
    padding-top: 2rem;
    box-shadow: inset 0px 15px 20px 1px #E1E1E1;
}

.site-footer .menu-wrapper {
    width: 100%;
    display: flex;
}

.contacts .fas {
    padding: 0.2rem;
}





.btn {
    padding: 0.5rem;
    color: #333333;
    border-radius: 3px;
    border: 2px solid #333333;
}

hr {
    width: 100px;
    border-color: black;
    margin-bottom: 2rem;
}