html {
    background-color: rgb(212, 211, 211);
    font: normal 15px/1.5 Verdana, sans-serif;
    color: rgb(51, 51, 51);
    margin: 1% 20%;
}

img {
    max-width: 70%;
    max-height: 70%;
    margin-left: 15%;
}